

<footer class="grid-footer">
    <div class="footer-fixed">
        <div class="copyright">
            <div class="info">
                <p class="mt05">
                    Copyright &copy; 2020-2020 Hxl All Rights Reserved
                </p>
            </div>
        </div>
    </div>
</footer>
<script th:src="@{/layui/layui.js}"></script>
<script th:src="@{/js/jquery.min.js}"></script>
<script>
    // $(".blog-user").click(function () {

    //     $.get({
    //         url: "/logOut",
    //         success: function () {
    //             $("#userid").val("0");
    //             $(".loginout").after("<a href='/toLoginPage' class='blog-user login'>" +
    //                 "                    <i class='fa fa-user'></i><span style='font-size: 14px'>请登录</span>" +
    //                 "                </a>");
    //
    //             $(".loginout").remove();
    //             console.log("success loginOut");
    //         },
    //         error: function () {
    //             console.log("error logOut");
    //         }
    //     });
    // });

</script>